// Colors
$color-text-regular: #7B8BAD;
$color-heading-regular: #162542;

// Typography
$ff-body: 'Barlow', sans-serif;
$fw-regular: 500;
$fw-bold: 900;

// Breakpoints
$bp-tablet: 48em; // 768px
$bp-desktop: 90em; // 1440px