.container {
    --max-width: 37.5rem; // design width for mobile = 375px
    
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2.3rem 2.4rem 5rem 2.4rem;
    overflow: hidden;

    @include media-screen-min($bp-tablet) {
        --max-width: 76.8rem;   // design width for tablet = 768px
        padding: 4.9rem 4rem 4.3rem 4rem;
    }

    @include media-screen-min($bp-desktop) {
        --max-width: 144rem;    // design width for desktop = 1440px
        padding: 6.4rem 16.5rem 3.9rem 16.5rem;
    }
}