body {
    font-family: $ff-body;
    font-weight: $fw-regular;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $color-text-regular;
}

%heading {
    font-weight: $fw-bold;
    color: $color-heading-regular;
    text-transform: uppercase;
}

.heading-1 {
    @extend %heading;
    font-size: 4.8rem;
    line-height: 4.8rem;

    @include media-screen-min($bp-desktop) {
        font-size: 5.6rem;
        line-height: 5.6rem;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.heading-3 {
    @extend %heading;
    font-size: 2.4rem;
    line-height: 2.8rem;
}